@font-face {
    font-family: Dank;
    src: url('../fonts/dank.otf');
    
}

@font-face {
    font-family: DankIt;
    src: url('../fonts/dankIt.otf');
    
}
.dracula {
    --base00: #282936; 
    --base01: #3a3c4e;
    --base02: #4d4f68;
    --base03: #626483;
    --base04: #62d6e8;
    --base05: #e9e9f4; 
    --base06: #f1f2f8;
    --base07: #f7f7fb;
    --base08: #ea51b2;
    --base09: #b45bcf;
    --base0A: #00f769;
    --base0B: #ebff87;
    --base0C: #a1efe4;
    --base0D: #62d6e8;
    --base0E: #b45bcf;
    --base0F: #00f769;
}

.nord {
    --base00: #2E3440;
    --base01: #3B4252;
    --base02: #434C5E;
    --base03: #4C566A;
    --base04: #D8DEE9;
    --base05: #E5E9F0;
    --base06: #ECEFF4;
    --base07: #8FBCBB;
    --base08: #88C0D0;
    --base09: #81A1C1;
    --base0A: #5E81AC;
    --base0B: #BF616A;
    --base0C: #D08770;
    --base0D: #EBCB8B;
    --base0E: #A3BE8C;
    --base0F: #B48EAD;
}
.avanguardia {
    --base00: #2e3448;
    --base01: #3e475a;
    --base02: #1f2435;
    --base03: #666d87;
    --base04: #535c71;
    --base05: #828ca5; 
    --base06: #a1a3a4;
    --base07: #9342ff;
    --base08: #4f37e5;
    --base09: #111111;
    --base0A: #271a92;
    --base0B: #755cf5;
    --base0C: #44166c;
    --base0D: #4e2345;
    --base0E: #b8b9bd;
    --base0F: #4415df;
}